# Group 10 ETL Project

Import all packs

In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

Grab the URL and scrape the data needed

In [2]:
engine = create_engine("sqlite:///Resources/mlsseasons.sqlite", echo=False)

In [6]:
    url = f"https://www.mlssoccer.com/standings/supporters-shield/2018/"
    print(url)
    tables = pd.read_html(url)
    df = tables[0]
    df.columns = ['#','Club','PTS','PPG','NaN0','GP','W','L','T','GF','GA','GD','NaN1','(H)W-L-T','NaN2','(A)W-L-T']
    df.drop(columns=['NaN0','NaN1','NaN2'], inplace=True)
    df.drop([0],inplace= True)
    df.set_index('#', inplace=True)
    df["season"] = 9999
    df

https://www.mlssoccer.com/standings/supporters-shield/2018/

,Club,PTS,PPG,GP,W,L,T,GF,GA,GD,(H)W-L-T,(A)W-L-T,season
#,,,,,,,,,,,,,
1,RBNYNew York Red Bulls,71,2.09,34,22,7,5,62,33,29,14-2-1,8-5-4,9999
2,ATLAtlanta United FC,69,2.03,34,21,7,6,70,44,26,11-2-4,10-5-2,9999
3,SKCSporting Kansas City,62,1.82,34,18,8,8,65,40,25,10-2-5,8-6-3,9999
4,SEASeattle Sounders FC,59,1.74,34,18,11,5,52,37,15,10-5-2,8-6-3,9999
5,LAFCLos Angeles Football Club,57,1.68,34,16,9,9,68,52,16,9-1-7,7-8-2,9999
6,DALFC Dallas,57,1.68,34,16,9,9,52,44,8,10-2-5,6-7-4,9999
7,NYCNew York City FC,56,1.65,34,16,10,8,59,45,14,12-1-4,4-9-4,9999
8,PORPortland Timbers,54,1.59,34,15,10,9,54,48,6,11-2-4,4-8-5,9999
9,DCD.C. United,51,1.5,34,14,11,9,60,50,10,13-2-2,1-9-7,9999
10,CLBColumbus Crew SC,51,1.5,34,14,11,9,43,45,-2,11-2-4,3-9-5,9999
11,PHIPhiladelphia Union,50,1.47,34,15,14,5,49,50,-1,9-6-2,6-8-3,9999
12,RSLReal Salt Lake,49,1.44,34,14,13,7,55,58,-3,11-2-4,3-11-3,9999
13,LALA Galaxy,48,1.41,34,13,12,9,66,64,2,8-5-4,5-7-5,9999
14,VANVancouver Whitecaps FC,47,1.38,34,13,13,8,54,67,-13,7-5-5,6-8-3,9999
15,MTLMontreal Impact,46,1.35,34,14,16,4,47,53,-6,11-4-2,3-12-2,9999
16,NENew England Revolution,41,1.21,34,10,13,11,49,55,-6,8-4-5,2-9-6,9999
17,HOUHouston Dynamo,38,1.12,34,10,16,8,58,58,0,8-6-3,2-10-5,9999
18,MINMinnesota United FC,36,1.06,34,11,20,3,49,71,-22,10-6-1,1-14-2,9999
19,TORToronto FC,36,1.06,34,10,18,6,59,64,-5,8-7-2,2-11-4,9999
20,CHIChicago Fire FC,32,0.94,34,8,18,8,48,61,-13,6-7-4,2-11-4,9999
21,COLColorado Rapids,31,0.91,34,8,19,7,36,63,-27,6-8-3,2-11-4,9999
22,ORLOrlando City SC,28,0.82,34,8,22,4,43,74,-31,6-7-4,2-15-0,9999
23,SJSan Jose Earthquakes,21,0.62,34,4,21,9,49,71,-22,2-9-6,2-12-3,9999

In [7]:
engine.execute("drop table seasons")
for year in range(2007, 2019):
    url = f"https://www.mlssoccer.com/standings/supporters-shield/{year}/"
    print(url)
    tables = pd.read_html(url)
    df = tables[0]
    df.columns = ['#','Club','PTS','PPG','NaN0','GP','W','L','T','GF','GA','GD','NaN1','(H)W-L-T','NaN2','(A)W-L-T']
    df.drop(columns=['NaN0','NaN1','NaN2'], inplace=True)
    df.drop([0],inplace= True)
    df.set_index('#', inplace=True)
    df["season"] = year
    df.to_sql("seasons", con=engine, if_exists='append')

engine.execute("select count(*) from seasons").first()

https://www.mlssoccer.com/standings/supporters-shield/2007/
https://www.mlssoccer.com/standings/supporters-shield/2008/
https://www.mlssoccer.com/standings/supporters-shield/2009/
https://www.mlssoccer.com/standings/supporters-shield/2010/
https://www.mlssoccer.com/standings/supporters-shield/2011/
https://www.mlssoccer.com/standings/supporters-shield/2012/
https://www.mlssoccer.com/standings/supporters-shield/2013/
https://www.mlssoccer.com/standings/supporters-shield/2014/
https://www.mlssoccer.com/standings/supporters-shield/2015/
https://www.mlssoccer.com/standings/supporters-shield/2016/
https://www.mlssoccer.com/standings/supporters-shield/2017/
https://www.mlssoccer.com/standings/supporters-shield/2018/

(218,)

Read salaries CSV file to pandas and write to SQL database

In [8]:
sal = pd.read_csv("Resources/MLS_Salaries.csv", encoding='UTF-16', sep="\t")
sal['Total Compensation'] = sal['Total Compensation'].replace('[\$,]', '', regex=True).astype(int)
sal['Base Salary'] = sal['Base Salary'].replace('[\$,]', '', regex=True).astype(int)

In [9]:
sal.to_sql("salaries", con=engine, if_exists='replace')
engine.execute("select count(*) from salaries").first()

(6219,)

create a mapping table for joining salaries data to seasons data

In [10]:
engine.execute("drop table club_map")
engine.execute("create table club_map (long_name varchar(255), short_name varchar(255))")

In [11]:

engine.execute("""
insert into club_map values
('DCD.C. United','DC'),
('CHVChivas USA','CHV'),
('HOUHouston Dynamo','HOU'),
('NENew England Revolution','NE'),
('DALFC Dallas','FCD'),
('RBNYNew York Red Bulls','RBNY'),
('SKCSporting Kansas City','KC'),
('CHIChicago Fire FC','CHI'),
('CLBColumbus Crew SC','CLB'),
('COLColorado Rapids','COL'),
('LALA Galaxy','LAG'),
('RSLReal Salt Lake','RSL'),
('TORToronto FC','TFC'),
('SJSan Jose Earthquakes','SJ'),
('SEASeattle Sounders FC','SEA'),
('PHIPhiladelphia Union','PHI'),
('PORPortland Timbers','POR'),
('VANVancouver Whitecaps FC','VAN'),
('MTLMontreal Impact','MTL'),
('ORLOrlando City SC','ORL'),
('NYCNew York City FC','NYC'),
('ATLAtlanta United FC','ATL'),
('MINMinnesota United FC','MNU'),
('LAFCLos Angeles Football Club','LAFC')
""")

In [12]:
sample=pd.DataFrame(engine.execute("""
select s."First Name", s."Last Name",
c.Club, c.pts, c.season
from seasons c
join club_map m on m.long_name = c.Club
join salaries s on s."Club (grouped)" = m.short_name
where c.season = s.Season
"""),columns=['First Name','Last Name','Club','PTS','Season'])
sample

,First Name,Last Name,Club,PTS,Season
0,None,Carreiro da Silva Fred,DCD.C. United,55,2007
1,Ben,Olsen,DCD.C. United,55,2007
2,Brad,North,DCD.C. United,55,2007
3,Brian,Carroll,DCD.C. United,55,2007
4,Bryan,Arguez,DCD.C. United,55,2007
...,...,...,...,...,...
6206,Quincy,Amarikwa,SJSan Jose Earthquakes,21,2018
6207,Shea,Salinas,SJSan Jose Earthquakes,21,2018
6208,Tommy,Thompson,SJSan Jose Earthquakes,21,2018
6209,"Valeri ""Vako""",Qazaishvili,SJSan Jose Earthquakes,21,2018
6210,Yeferson,Quintana,SJSan Jose Earthquakes,21,2018